.body {
  background-color: #0a0911;
  width: 100%;
  height: 100%;
}

.container {
  padding: 0px 10px;
}

.h1 {
  font-family: Baloo2-Bold;
  font-size: 38px;
  color: #fefefe;
}

.regularLabel {
  font-family: Baloo2-Regular;
  font-size: 16px;
  color: #fefefe;
}

.boldLabel {
  font-family: Baloo2-Bold;
  font-size: 16px;
  color: #fefefe;
}

.primaryButtonLabel {
  font-family: Baloo2-Bold;
  font-size: 25px;
  color: #0a0911;
}

.primaryButton {
  padding-top: 5px;
  padding-bottom: 5px;
  min-width: 50px;
  background-color: #a6f03f;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.secondaryButtonLabel,
.disabledButtonLabel {
  font-family: Baloo2-Bold;
  font-size: 25px;
  color: #0a0911;
}

.secondaryButton {
  min-height: 45px;
  min-width: 50px;
  background-color: #fefefe;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.disabledButton {
  min-height: 45px;
  min-width: 50px;
  background-color: #999;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  flex: 1;
}
